/* NOTION CSS OVERRIDE */
.card-shadow {
  box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}

.card-img-shadow {
  box-shadow: 0 10px 10px rgb(0 0 0 / 8%), 0 0 0 transparent;
}

.cover-wrap {
  width: 100%;
  overflow: hidden;
}

.cover-wrap img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.cover-wrap img:hover {
  transform: scale(1.2);
}

.notion {
  color: rgb(75 85 99 / var(--tw-text-opacity)) !important;
  overflow-wrap: break-word;
}
.notion,
.notion-text,
.notion-quote,
.notion-h-title {
  line-height: 2rem;
  padding: 0px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.notion-page-link {
  color: inherit;
}

.notion-asset-wrapper img {
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 20%);
}

.notion-h2 {
  margin: 0 0 0.75rem !important;
}

svg.notion-page-icon {
  display:none;
}

svg + .notion-page-title-text {
  border-bottom-width: 0px;
}

.notion-bookmark {
  border: 2px solid #DBEAFE;
}

.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  color:rgb(0 0 0 / 8%)
}

.notion-bookmark .notion-bookmark-description {
  color:rgb(69 67 96 / 10%)
}

.notion-code > code {
  color:rgb(0 0 0 / 8%)
}

pre[class*='language-'] {
  line-height: inherit;
}

.notion-bookmark:hover {
  border-color: #60A5FA;
}
.notion-viewport {
  z-index: -10;
}
.notion-asset-caption {
  text-align: center;
}
.notion-full-width {
  padding-left: 0;
  padding-right: 0;
}
.notion-page {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  width: 100% !important;
}
.notion-quote {
  padding: 0.2em 0.9em;
}
.notion-collection-row {
  display: none;
}

.bg-gray-100 { background-color: #F3F4F6; }
.bg-red-100 { background-color: #FEE2E2; }
.bg-yellow-100 { background-color: #FEF3C7; }
.bg-orange-100 { background-color: #fedfc7; }
.bg-green-100 { background-color: #D1FAE5; }
.bg-blue-100 { background-color: #DBEAFE; }
.bg-indigo-100 { background-color: #E0E7FF; }
.bg-purple-100 { background-color: #EDE9FE; }
.bg-pink-100 { background-color: #FCE7F3; }

.border-gray-100 { border-color: #E5E7EB; }
.border-red-100 { border-color: #FECACA; }
.border-yellow-100 { border-color: #FDE68A; }
.border-orange-100 { border-color: #fdc98a; }
.border-green-100 { border-color: #A7F3D0; }
.border-blue-100 { border-color: #BFDBFE; }
.border-indigo-100 { border-color: #C7D2FE; }
.border-purple-100 { border-color: #DDD6FE; }
.border-pink-100 { border-color: #FBCFE8; }

.text-gray-400 { color: #9CA3AF; }
.text-red-400 { color: #F87171; }
.text-yellow-400 { color: #FBBF24; }
.text-orange-400 { color: #d96906; }
.text-green-400 { color: #34D399; }
.text-blue-400 { color: #60A5FA; }
.text-indigo-400 { color: #818CF8; }
.text-purple-400 { color: #A78BFA; }
.text-pink-400 { color: #F472B6; }

.ztitle {
  position: relative;
}
.ztitle::after {
  position: absolute;
  content: '';
  width: 90px;
  height: 10px;
  left: -5px;
  top: 18px;
  background-color: #8750f541;
}